---
layout: default
---
<div class="home">
  {%- include 4000footers-header.html -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "List of New Hampshire 4000 footers and their date hiked." }}</h2>

  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    {%- if post.type == "4000footer" -%}
    <div class="writing nu">
      <div>
        <div>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </div>
        <div>
          <p class="post-meta">
            <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ post.date | date: date_format }}
            </time>
          </p>
        </div>
      </div>
    </div>
    {%- endif -%}
    {%- endfor -%}
  </ul>
  {%- endif -%}
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=14ZnT84Qpf-01O2DL_F3chI05M0c" width="640"
    height="480"></iframe>
</div>