---
layout: default
---
<div class="home">
  {%- include 4000footers-header.html -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "New Hampshire 4000 Footers" }}</h2>
<p>*Some report links are in progress.</p>
  <div class="nu">
    <table style="width:100%; border:1px solid #666666;">
      <tr>
        <th style="text-align: center">#</th>
        <th>Mountain</th>
        <th>Elevation in feet</th>
        <th style="text-align: center">Date hiked / reports*</th>
      </tr>
      {% for mt in site.data.4000footers %}
      <tr>
        <td style="text-align: center">{{ mt.number }}</td>
        <td>{{ mt.mountain }}</td>
        <td>{{ mt.elevation }}</td>
        <td style="text-align: center"><a class="nu"
            href="{{ mt.url }}">{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}{{ mt.date| date: date_format }}
        </td></a>
      </tr>
      {% endfor %}
    </table>
  </div>

  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=14ZnT84Qpf-01O2DL_F3chI05M0c" width="100%"
    height="420px"></iframe>
</div>