---
layout: default
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<article class="post">

  {%- include about-header.html -%}

  <div class="post-content">
    {{ content }}

    <main href="mailto:{{ site.author.email }}"><span class="username">Email: {{ site.author.email-text }}</span></main>

    <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
      </svg>
    </a>
    <div style="width: 255px" id="vegankit-embed">
        <script>window.vegankit_activist_username = "tonezz";</script>
        <script src="http://cdn.everything.io/vegankit/embed/embed.js"></script>
      </div>
  </div>



</article>

</html>