---
layout: default
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<article class="post">

  {%- include about-header.html -%}

  <div class="post-content">
    {{ content }}

    <main href="mailto:{{ site.author.email }}"><span class="username">{{ site.author.email-text }}</span></main>

    <div style="width: 255px; height: 58px" id="vegankit-embed">
      <script>window.vegankit_activist_username = "tonezz";</script>
      <script src="https://cdn.everything.io/vegankit/embed/embed.js"></script>
    </div>
  </div>



</article>

</html>