---
layout: default
---
<article class="post">

  <div class="post-content">
    {{ content }}

    <!--<h4 class="post-list-heading">Contact</h4>-->
    <main href="mailto:{{ site.author.email }}"><span class="username">{{ site.author.email-text }}</span></main>

    <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
    </a>

  </div>

</article>
