<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<body>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      <article class="post">
        {%- include photos-header.html -%}
      </article>
    </div>
  </main>

</body>

<body>
  <main class="page-content" aria-label="Content">
    <ul class="photo-gallery" style="list-style: none;">
      {% for image in page.images %}
      <section style="height: auto">
        <a>
          <picture style="padding-top: 69px;">
            <img src="{{ image.image_path }}" alt="{{ image.title}}" />
          </picture>
        </a>
      </section>
      <div class="wrapper" style="padding-top: 69px; scroll-padding-bottom: 169px;">
        <div class="writing nu">
          <div>
            <div>
              <p style="  font-weight: bold;">{{ image.location }}</p>
              <time class="dt-published" datetime="{{ iamge.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ image.date | date: date_format }}
              </time>
            </div>
            <div>
              <p style="  font-weight: bold;">{{ image.camera }}</p>
            </div>
          </div>
        </div>
      </div>

      <div style="height:169px;"></div>
      {% endfor %}
    </ul>
  </main>

</body>

</html>